#ModalTitle {
  justify-content: center;
}

.ModalBody {
  border-radius: 5px;
  width: 100%;
  border: 1px solid #1a73e8;
}

input:focus {
  outline: none;
  border-color: #1a73e8;
  /* box-shadow: 0 0 10px #719ece; */
}
textarea:focus {
  outline: none;
  border-color: #1a73e8;
  /* box-shadow: 0 0 10px #719ece; */
}

#ModalFooter {
  justify-content: center;
}

/* Each button has an id*/

#SendButton {
  border-radius: 20px;
  width: 25%;
}
#CancelReport {
  border-radius: 20px;
  width: 25%;
}
#UnpostButton {
  border-radius: 20px;
  width: 25%;
}
#CancelUnpost {
  border-radius: 20px;
  width: 25%;
}
